.user__photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.selected__page {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}