.nav {
  grid-area: nav;
  background-color: #598d42;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
}

.item {
  color: white;
  padding-bottom: 5px;
}

.item a.active__link {
  color: rgb(11, 202, 209);
}