.app__wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  height: 100vh;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app__wrapper--content {
  grid-area: content;
  background-color: #eff6f4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}