.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

/* .dialogs__items {

} */

.dialogs__items .active {
  color: rgb(11, 202, 209);
}

.item {
  padding: 10px;
}

.messages {
  padding: 10px;
}

/* .message {

} */